/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* CSS Variables */
:root {
  --primary: #888;
  --dark: #333;
  --light: #fff;
  --splash: red;
  --shadow: 0 5px 20px rgba(0, 0, 0 , 0.25);
}

/* Global Styles */
html {
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: var(--dark);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--light);
  margin: 0 auto;
  padding: 5px 10%;
  line-height: 1.4;
  max-width: 80%;
}

img {
  max-width: 100%;
}

/* Header */
header {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header a {
  text-decoration: none;
  color: var(--dark);
}

header::after {
  content: '';
  display: block;
  background: var(--primary);
  width: 85%;
  height: 5px;
  margin: auto;
  position: relative;
  top: 5px;
}

/* Navigation */
nav {
  padding: 0;
  margin: 0;
}

.main-nav {
  width: 100%;
  padding: 0;
  padding: 20px 0;
}

.main-nav ul {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-nav a {
  position: relative;
  display: inline-block;
  color: var(--dark);
  font-size: 1.2rem;
  margin: 0 30px;
  text-decoration: none;
}
.main-nav a:after {
  display: block;
  content: '';
  border-bottom: solid 2px var(--dark);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.main-nav a:hover::after {
  transform: scaleX(1);
}

/* MOBILE NAV */
.menu {
  display: grid;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  z-index: 1;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.menu ul {
  list-style: none;
  margin: 3rem;
}

.menu li {
  padding: 10px;
}

.menu li a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-btn {
  position: fixed;
  bottom: 30px;;
  right: 20px;
  padding: 15px;
  background: #333;
  border-radius: 50%;
  z-index: 2;
  display: none;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 3px auto 3px;
}


/* Main Content */
.content {
  max-width: 1024px;
  margin: 0 auto;
}

.home {
  text-align: center;
}

.featured-img {
  box-shadow: var(--shadow);
}

/* About Page */
#portrait {
  width: 400px;
}

#about {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.about-text p {
  margin-top: 2rem;
}

/* Contact Page  */
#contact {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border: 1px solid grey;
  padding: 1rem;
}

.contact-a h3,
.contact-a p {
  margin: 10px 0;
}
.contact-a span {
  font-weight: normal;
}

/* Gallery Section */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  grid-gap: 20px;
  justify-items: center;
}

.card {
  background: var(--dark);
  position: relative;
  overflow: hidden;
  max-height: 250px;
  max-width: 250px;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

.card::before {
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}

.card::after {
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

.card:hover::before {
  transform: scale(1, 1);
}

.card:hover::after {
  transform: scale(1, 1);
}

.card:hover .card-img {
  opacity: 0.3;
}

.card:hover .card-text, 
.card:hover .expand-btn a 
.card:active .card-text,
.card:active .expand-btn a {
  opacity: 1;
}

.card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--light);
}

.card-img {
  display: block;
  transition: opacity ease-out 250ms;
  opacity: 1;
}

.card-img:hover {
  opacity: 0.3;
  transition: opacity ease-out 250ms;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  opacity: 0;
  transition: opacity ease-out 250ms;
}

.expand-btn a {
  position: absolute;
  bottom: 22px;
  right: 25px;
  color: var(--light);
  opacity: 0;
  transition: opacity ease-out 250ms;
  z-index: 10;
}

.expand-btn a:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  text-align: center;
  margin: 10px 0;
  height: 60px;
}

/* Media Queries */
@media screen and (max-width: 760px) {
  
  header {
    font-size: 1.2rem;
    margin-bottom: 2rem;;
  }
  
  .main-nav {
    display: none;
  }
  
  .menu-btn {
    display: block;
  }

  #contact,
  #about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .about-image {
    max-width: 320px;
    margin: 0 auto;
  } 
  
  .about-text {
    max-width: 400px;
    margin: 0 auto;
  }
  
}